{% extends "weather/base.html" %}

{% block title %} Title! {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-5 offset-1">
            <h1>Ur city</h1>
            <form action="" method="post">
                {%  csrf_token %}
                <label for="city">city</label>
                {{ form.name }}
                <input type="submit" name="send" value="show" class="mt-2 btn btn-danger">
            </form>
        </div>

        <div class="col-4 offset-1">
            <h1>other cities</h1>

            {% for info in all_info %}
            <b>City:</b>{{info.city}}<br>
            <b>t:</b>  {{info.temp}}<br>
            {% endfor %}
        </div>
    </div>
{% endblock %}