{% extends "weather/base.html" %}

{% block title %} Title! {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-5 offset-1">
            <h1>Ur city</h1>
            <form action="">
                <label for="city">city</label>
                <input type="text" id="city" class="form-control" name="city" placeholder="type city">
            </form>
        </div>

        <div class="col-4 offset-1">
            <h1>other cities</h1>
            <b>City:</b>{{info.city}}<br>
            <b>t:</b>  {{ info.temp}}<br>
        </div>
    </div>
{% endblock %}